@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 250 250 250;
  --foreground: 33 33 33;
  --muted: 240 240 240;
  --card: 255 255 255;
  --border: 230 230 230;
  --primary: 0 123 255;
  --secondary: 108 117 125;
  --accent: 40 167 69;
  --destructive: 220 53 69;
  --gradient-top: 221, 250, 215;
  --gradient-middle: 225, 235, 223;
  --font-allura: "Allura", cursive;
}

.dark {
  --background: 18 18 18;
  --foreground: 255 255 255;
  --muted: 38 38 38;
  --card: 28 28 28;
  --border: 48 48 48;
  --primary: 0 123 255;
  --secondary: 108 117 125;
  --accent: 40 167 69;
  --destructive: 220 53 69;
  --gradient-top: 33, 41, 33;
  --gradient-middle: 21, 31, 21;
  --font-allura: "Allura", cursive;
}


body {
  background: linear-gradient(
    to bottom,
    rgb(var(--gradient-top)) 0%,
    rgb(var(--gradient-middle)) 15%,
    rgb(var(--background)) 40%
  );
  background-color: rgb(var(--background));
  background-attachment: fixed;
  color: rgb(var(--foreground));
  min-height: 100vh;
}


/* Hide scrollbar for the entire page */
html,
body {
  overflow: auto;
  scrollbar-width: none; /* Hide scrollbar */
  -ms-overflow-style: none; /* Hide scrollbar */
  -webkit-overflow-scrolling: none; /* Hide scrollbar */
  scroll-behavior: smooth;
}

/* Blink effect for the terminal */

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

/* Custom scrollbar for Chrome, Safari, and Opera */
.scrollbar-terminal::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Hide scrollbar buttons */
.scrollbar-terminal::-webkit-scrollbar-button {
  display: none; /* Hides the scrollbar buttons */
}

.scrollbar-terminal::-webkit-scrollbar-track {
  background: transparent; /* Make the scrollbar track background transparent */
}

.scrollbar-terminal::-webkit-scrollbar-thumb {
  background-color: #555; /* Scrollbar thumb color */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.scrollbar-terminal::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Darken scrollbar thumb on hover */
}

/* Custom scrollbar for Firefox */
.scrollbar-terminal {
  scrollbar-width: thin; /* Make the scrollbar thin */
  scrollbar-color: #555 transparent; /* Thumb color and track background transparent */
}

/* Custom scrollbar for IE and Edge */
.scrollbar-terminal {
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Auto-hiding scrollbar */
}
